<!-- Jayesh Uttam -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About me</title>
    <link rel="stylesheet" href="/public/stylesheets/about.css" />
  </head>
  <body>
    <header><%- include('partials/navbar.ejs') %></header>
    <center>
      <img src="/public/images/profile.jpeg" alt="profile" />
      <h1>Jayesh Uttam</h1>
      <p>
        Hello, I'm Jayesh Uttam, a passionate computer science student at
        Centennial College with a deep love for all things tech. I thrive on the
        ever-evolving world of software engineering, and I've embarked on an
        exciting journey as a freelance software engineer. My curiosity drives
        me to constantly explore new technologies and solve complex problems.
        Whether it's crafting elegant code or developing innovative solutions,
        I'm always up for a challenge. Join me as I navigate the digital realm
        and create meaningful software that makes a difference. Let's code the
        future together!
      </p>
      <a href="/resume" class="download-button">Download My Resume</a>
    </center>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
