<!-- Jayesh Uttam -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services</title>
    <link rel="stylesheet" href="/public/stylesheets/services.css" />
  </head>
  <header><%- include('partials/navbar.ejs') %></header>
  <body>
    <center>
      <h1>Services</h1>
    </center>
    <div class="service-card">
      <img src="/public/images/python.jpeg" alt="Python Service" />
      <h2>Python</h2>
      <p>
        Python is a versatile and easy-to-learn programming language. Our Python
        services include web development, data analysis, and automation
        solutions.
      </p>
    </div>

    <div class="service-card">
      <img src="/public/images/java.png" alt="Java Service" />
      <h2>Java</h2>
      <p>
        Java is a powerful and widely-used programming language. We offer Java
        development services for building robust and scalable enterprise
        applications.
      </p>
    </div>

    <div class="service-card">
      <img src="/public/images/javascript.png" alt="JavaScript Service" />
      <h2>JavaScript</h2>
      <p>
        JavaScript is the language of the web. Our JavaScript services cover
        front-end development, interactive web applications, and more.
      </p>
    </div>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
